:root {
    --primary-color: #BE713B; 
    --secondary-color: #6B0504;
    --accent-color: #26547C;
    --background-color: #F5F5F5;
    --text-color: #161616;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

#content {
    flex-direction: column;
    justify-content: center;
}

#content td {
    padding: 1.5% 0.5% 1.5% 0.5%;
    /* width: 33%; */
}

.contentBlock {
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5%
}

#suppExperience.contentBlock, #education.contentBlock {
    padding-top: 5%;
}

.iconBlock {
    margin: 2% 25% 0% 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.leftColumn {
    text-align: right;
}

.middleColumn {
    text-align: center;
    color: var(--accent-color);
    font-weight: bold;
    width: 50%;
}

.rightColumn {
    text-align: left;
}

.experienceIcon {
    border-radius: 20%;
    margin: 25%;
}

/* Media queries for responsive resizing */
@media (min-width: 1px) {
    .experienceIcon {
        width: 18px;
        height: 18px;
    }
}

@media (min-width: 576px) {
    .experienceIcon {
        width: 32px;
        height: 32px;
    }
}

@media (min-width: 768px) {
    .experienceIcon {
        width: 48px;
        height: 48px;
    }
}

@media (min-width: 992px) {
    .experienceIcon {
        width: 54px;
        height: 54px;
    }
}

@media (min-width: 1200px) {
    .experienceIcon {
        width: 60px;
        height: 60px;
    }
}

#quote, #awards  {
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    background-color: var(--text-color);
}

#quote {
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
        ),
        url(../docs/assets/prodivis_heatmap.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

#quote p {
    font-size: 1.75em;
    color: var(--background-color);
    text-align: center;
}

#awards h2 {
    color: var(--secondary-color);
}

#awards p {
    color: var(--background-color);
    text-align: center;
}