body {
  background-color: #F5F5F5;
  color: #161616;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 380px) {
  body {
    font-size: 0.99em;
  }
}
@media (min-width: 1080px) {
  body {
    font-size: 0.999em;
  }
}

h1, h2 {
  font-family: "Merriweather", serif;
  color: #BE713B;
}

h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  color: #26547C;
}

a {
  font-family: "Montserrat", sans-serif;
  color: #6B0504;
  text-decoration: underline;
}

p, li {
  font-family: "Montserrat", sans-serif;
  color: #161616;
}

section {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 380px) {
  section {
    flex-direction: column;
  }
}

@media (max-width: 380px) {
  .socialIconBlock {
    padding-top: 1.5%;
  }
}
@media (min-width: 1080px) {
  .socialIconBlock {
    padding-top: 2.5%;
  }
}
.socialIconBlock .socialIcon {
  filter: invert(1);
}
@media (min-width: 1px) {
  .socialIconBlock .socialIcon {
    width: 12px;
    height: 12px;
  }
}
@media (min-width: 576px) {
  .socialIconBlock .socialIcon {
    width: 18px;
    height: 18px;
  }
}
@media (min-width: 768px) {
  .socialIconBlock .socialIcon {
    width: 24px;
    height: 24px;
  }
}
@media (min-width: 992px) {
  .socialIconBlock .socialIcon {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 1200px) {
  .socialIconBlock .socialIcon {
    width: 36px;
    height: 36px;
  }
}

#header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1% 20%;
  background-color: #BE713B;
  color: #F5F5F5;
}
@media (max-width: 380px) {
  #header {
    flex-direction: column;
  }
}
#header h1 {
  margin: 0;
  font-size: 2em;
  color: #F5F5F5;
}
#header .headerBlock {
  flex: 1 1 auto;
}
#header .headerBlock.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#about {
  justify-content: center;
}
#about .contentSubBlock {
  padding-top: 2.5%;
}
#about .contentSubBlock.headshot {
  text-align: center;
}
#about .contentSubBlock.headshot .headshotImg {
  border-radius: 50%;
}
@media (max-width: 380px) {
  #about .contentSubBlock.headshot .headshotImg {
    width: 90px;
    height: 90px;
  }
}
@media (min-width: 1080px) {
  #about .contentSubBlock.headshot .headshotImg {
    width: 240px;
    width: 240px;
  }
}
#about .contentSubBlock h2 {
  text-align: center;
  color: #BE713B;
}
@media (max-width: 380px) {
  #about .contentSubBlock h2 {
    font-size: 1.98em;
  }
}
@media (min-width: 1080px) {
  #about .contentSubBlock h2 {
    font-size: 2.25em;
  }
}
#about .contentSubBlock h3 {
  text-align: center;
}
@media (max-width: 380px) {
  #about .contentSubBlock h3 {
    font-size: 1.32em;
  }
}
@media (min-width: 1080px) {
  #about .contentSubBlock h3 {
    font-size: 1.5em;
  }
}
#about .contentSubBlock#columnContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 380px) {
  #about .contentSubBlock#columnContent {
    flex-direction: column;
  }
}
#about .contentSubBlock .educationListBlock {
  display: flex;
  flex-direction: row;
}
@media (max-width: 380px) {
  #about .contentSubBlock .educationListBlock {
    flex-direction: column;
  }
}
#about .contentSubBlock .educationListBlock li {
  margin-bottom: 1%;
}
@media (max-width: 380px) {
  #about .contentSubBlock .educationListBlock li {
    font-size: 1.0989em;
  }
}
@media (min-width: 1080px) {
  #about .contentSubBlock .educationListBlock li {
    font-size: 1.10889em;
  }
}
#about .contentSubBlock .educationListBlock .educationIcon {
  padding-right: 10%;
}
@media (max-width: 380px) {
  #about .contentSubBlock .educationListBlock .educationIcon {
    width: 18px;
    height: 18px;
  }
}
@media (min-width: 1080px) {
  #about .contentSubBlock .educationListBlock .educationIcon {
    width: 48px;
    width: 48px;
  }
}
#about .contentSubBlock .educationListBlock .educationIcon.pcc {
  padding: 10%;
  border-radius: 33%;
}
#about .contentSubBlock .educationListBlock h4 {
  color: #161616;
  margin-top: 2px;
  margin-bottom: 0px;
}
@media (max-width: 380px) {
  #about .contentSubBlock .educationListBlock h4 {
    font-size: 1.0956em;
  }
}
@media (min-width: 1080px) {
  #about .contentSubBlock .educationListBlock h4 {
    font-size: 1.245em;
  }
}
#about .contentSubBlock .educationListBlock h5 {
  font-family: "Montserrat", sans-serif;
  color: #161616;
  margin-bottom: 0px;
}
@media (max-width: 380px) {
  #about .contentSubBlock .educationListBlock h5 {
    font-size: 0.825em;
  }
}
@media (min-width: 1080px) {
  #about .contentSubBlock .educationListBlock h5 {
    font-size: 0.9375em;
  }
}
#about .contentSubBlock .educationListBlock p {
  color: #6e6e6e;
}
@media (max-width: 380px) {
  #about .contentSubBlock .educationListBlock p {
    font-size: 0.99em;
  }
}
@media (min-width: 1080px) {
  #about .contentSubBlock .educationListBlock p {
    font-size: 0.999em;
  }
}

#projects {
  justify-content: center;
}
#projects .projectBlockHeader h2 {
  text-align: center;
  color: #BE713B;
}
@media (max-width: 380px) {
  #projects .projectBlockHeader h2 {
    font-size: 1.98em;
  }
}
@media (min-width: 1080px) {
  #projects .projectBlockHeader h2 {
    font-size: 2.25em;
  }
}
#projects .projectBlockHeader p {
  text-align: center;
}
#projects .projectBlock {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
#projects .projectBlock h3 {
  text-align: center;
}
@media (max-width: 380px) {
  #projects .projectBlock h3 {
    font-size: 1.32em;
  }
}
@media (min-width: 1080px) {
  #projects .projectBlock h3 {
    font-size: 1.5em;
  }
}
#projects .projectBlock .projectBlockContent {
  padding-top: 1.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 380px) {
  #projects .projectBlock .projectBlockContent {
    flex-direction: column;
  }
}
#projects .projectBlock .projectBlockContent .projectImg {
  border-radius: 15%;
}
@media (max-width: 380px) {
  #projects .projectBlock .projectBlockContent .projectImg {
    width: 144px;
    height: 144px;
  }
}
@media (min-width: 1080px) {
  #projects .projectBlock .projectBlockContent .projectImg {
    width: 384px;
    width: 384px;
  }
}
@media (max-width: 380px) {
  #projects .projectBlock .projectBlockContent .projectBlockText {
    margin-left: 1.5%;
  }
}
@media (min-width: 1080px) {
  #projects .projectBlock .projectBlockContent .projectBlockText {
    margin-left: 2.5%;
  }
}
#projects .projectBlock .headerBlock.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}
#projects .projectBlock .headerBlock.social .socialIconBlock {
  padding-left: 0%;
  padding-right: 2.5%;
}
#projects .projectBlock .headerBlock.social .socialIcon {
  filter: none;
}

#footer {
  padding: 1% 5%;
  display: flex;
  flex-direction: row;
  background-color: #BE713B;
}
@media (max-width: 380px) {
  #footer {
    flex-direction: column;
  }
}
#footer p {
  color: #F5F5F5;
  margin: 0;
}

/*# sourceMappingURL=ai.css.map */
