/* -------------- */
/* FOR ALL FILES */
/* -------------- */

/* Colors */
:root {
    --primary-color: #BE713B; 
    --secondary-color: #6B0504;
    --accent-color: #26547C;
    --background-color: #F5F5F5;
    --text-color: #161616;
}

h1, h2, .accented, a {
    color: var(--primary-color);
}

p, li {
    color: var(--text-color);
}

body {
    font-size: 1em;
    left: 0px;
    top: 0px;   
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

h1, h2, h3 {
    font-size: 2em;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: var(--primary-color);
}

h4, h5, h6 {
    font-size: 1.75em;
    font-family: 'Merriweather', serif;
    color: var(--text-color);
}

p {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

li {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color); 
}


/* -------------- */
/* HEADER SECTION */
/* -------------- */

/* Dynamic Buttons */
.button {
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--secondary-color);
}

#header {
    padding: 1% 5% 1% 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--background-color);
    z-index: 2;
}

#header h1 {
    color: var(--background-color);
    margin: 0;
    padding: 0;
    font-size: 2em;
}

.headerBlock {
    flex: 1 1 auto;
    align-items: center;
}

.headerBlock.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.headerBlock.navigation {
    align-items: center;
}

#header nav {
    align-items: center;
}

#headerMenu {
    display: flex;
    flex-wrap: wrap;
}

.headerBlock.ul {
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    margin: 0;
}

#headerMenu li {
    list-style-type: none;
    font-family: "Merriwether", serif;
    color: var(--background-color);
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

#headerMenu a {
    text-decoration: none;
    color: var(--background-color);
    display: block;
}

#headerMenu li:hover {
    color: var(--primary-color);
    background-color: var(--background-color);
    border-radius: 5px;
}

#headerMenu li:hover a {
    color: var(--primary-color);
}

.socialImgContainer {
    padding-left: 1%;
    padding-right: 1%;
}

.socialIcon {
    filter: invert(1);
}

/* Media queries for responsive resizing */
@media (min-width: 1px) {
    .socialIcon {
        width: 12px;
        height: 12px;
    }
}

@media (min-width: 576px) {
    .socialIcon {
        width: 18px;
        height: 18px;
    }
}

@media (min-width: 768px) {
    .socialIcon {
        width: 24px;
        height: 24px;
    }
}

@media (min-width: 992px) {
    .socialIcon {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 1200px) {
    .socialIcon {
        width: 36px;
        height: 36px;
    }
}

#footer {
    padding: 1% 5% 1% 5%;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    z-index: 2;
}

#footer p {
    color: var(--background-color);
    align-self: center;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

/* -------------- */
/* ALL CONTENT    */
/* -------------- */

#content {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
}

#content h2 {
    font-size: 2.5em;
    padding-bottom: 2.5%;
    margin-bottom: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: var(--primary-color);
}

#content p, li, td {
    font-size: 1.25em;
    margin-bottom: 0.75em;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}