:root {
    --primary-color: #BE713B; 
    --secondary-color: #6B0504;
    --accent-color: #26547C;
    --background-color: #F5F5F5;
    --text-color: #172121;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

#content {
    height: 1800px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
}

#content h2 {
    font-size: 3em;
    padding-bottom: 2.5%;
    margin-bottom: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: var(--primary-color);
}

#content li {
    font-size: 1.5em;
    margin-bottom: 0.75em;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

#content .accented {
    color: var(--accent-color);
    font-weight: bolder;
}

#content .secondaryAccent {
    color: var(--primary-color);
}

#content a {
    color: var(--primary-color);
    font-style: italic;
    text-decoration: underline;
}

#content a:hover {
    color: var(--primary-color);
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}

.contentBlock {
    flex-grow: 1;
}

.pubListBlock {
    align-self: center;
    padding-bottom: 10%;
    margin-bottom: 0;
}