// Variables
$primary-color: #BE713B;
$secondary-color: #6B0504;
$accent-color: #26547C;
$background-color: #F5F5F5;
$text-color: #161616;
$font-serif: 'Merriweather', serif;
$font-sans: 'Montserrat', sans-serif;
$mobile-breakpoint: 380px;
$desktop-breakpoint: 1080px;

// Mixins
@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }
}

@mixin responsive-icon($sizes) {
  @each $breakpoint, $size in $sizes {
    @media (min-width: $breakpoint) {
      width: $size;
      height: $size;
    }
  }
}

@mixin client-responsive-icon($size) {
    @media (max-width: $mobile-breakpoint) {
        width: 12px * $size;
        height: 12px * $size;
    }
    @media (min-width: $desktop-breakpoint) {
        width: 48px * $size;
        width: 48px * $size;
    }
}

@mixin client-responsive-header($size) {
    @media (max-width: $mobile-breakpoint) {
        font-size: 0.5em * $size;
    }
    @media (min-width: $desktop-breakpoint) {
        font-size: 0.75em * $size;
    }
}

@mixin client-responsive-text($size) {
    @media (max-width: $mobile-breakpoint) {
        font-size: 0.25em * $size;
    }
    @media (min-width: $desktop-breakpoint) {
        font-size: 0.333em * $size;
    }
}

// General Styles
body {
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  font-family: $font-sans;
  @include client-responsive-text(3);
}

h1, h2 {
  font-family: $font-serif;
  color: $primary-color;
}

h3, h4, h5, h6 {
    font-family: $font-serif;
    color: $accent-color
}

a {
    font-family: $font-sans;
    color: $secondary-color;
    text-decoration: underline;
}

p, li {
  font-family: $font-sans;
  color: $text-color;
}

section {
    // justify-items: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 20%;
    padding-right: 20%;
    @include flex-center(column);
}

.socialIconBlock {
    padding-left: 2.5%;

    .socialIcon {
        filter: invert(1);
        @include responsive-icon(("1px": 12px, "576px": 18px, "768px": 24px, "992px": 30px, "1200px": 36px));
    }
}

// Header Section
#header {
  @include flex-center(row);
  flex-wrap: wrap;
  padding: 1% 20%;
  background-color: $primary-color;
  color: $background-color;

  h1 {
    margin: 0;
    font-size: 2em;
    color: $background-color;
  }

  .headerBlock {
    flex: 1 1 auto;

    &.social {
      @include flex-center(row);
      justify-content: flex-end;

    }
  }

  nav {
    @include flex-center(row);
  }
}

// About Section
#about {
    justify-content: center;

    .contentSubBlock {
        padding-top: 2.5%;

        &.headshot {
            text-align: center;

            .headshotImg {
                @include client-responsive-icon(5);
                border-radius: 50%;
            }
        }
        

        h2 {
            @include client-responsive-header(3);
            text-align: center;
            color: $primary-color;
        }

        // center align for 'goal' and 'skills'
        h3 {
            text-align: center;
        }

        &#columnContent {
            @include flex-center(row);
            justify-content: space-evenly;
        }

        .educationListBlock {
            @include flex-center(row);

            li {
                @include client-responsive-text(3.33);
                margin-bottom: 1%;
            }

            .educationIcon {
                @include client-responsive-icon(1);
                padding-right: 10%;

                &.pcc {
                    padding: 10%;
                    border-radius: 33%;
                }
            }

            h4 {
                @include client-responsive-header(1.66);
                color: $text-color;
                margin-top: 2px;
                margin-bottom: 0px;
            }

            h5 {
                @include client-responsive-header(1.25);
                font-family: $font-sans;
                color: $text-color;
                margin-bottom: 0px;
            }

            p {
                @include client-responsive-text(3);
                color: #6e6e6e;
            }
        }
            
    }
}

// Projects Section
#projects {
    justify-content: center;

    .projectBlockHeader {
        h2 {
            @include client-responsive-header(3);
            text-align: center;
            color: $primary-color;
        }

        p {
            text-align: center;
        }
    }

    .projectBlock {
        padding-top: 2.5%;
        padding-bottom: 2.5%;

        h3 {
            text-align: center;
            @include client-responsive-header(2);
        }

        .projectBlockContent {
            padding-top: 1.5%;
            @include flex-center(row);
            align-items: center;

            .projectImg {
                @include client-responsive-icon(8);
                border-radius: 15%;
            }

            @media (min-width: $desktop-breakpoint) {
                .projectBlockText {
                    margin-left: 2.5%;
                }
            }

        }

        .headerBlock.social {
            @include flex-center(row);
            justify-content: left;

            .socialIconBlock {
                padding-left: 0%;
                padding-right: 2.5%;
            }
            
            .socialIcon {
                filter: none;
            }

        }
    }
        
}

// Footer Section
#footer {
  padding: 1% 5%;
  @include flex-center(row);
  background-color: $primary-color;

  p {
    color: $background-color;
    margin: 0;
  }
}