// ==========================================================================
// People Page Styles
// ==========================================================================

@import 'variables';
@import 'mixins';

// General Styles
body {
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  font-family: $font-sans;
}

// Content Section
#content {
  flex-direction: column;
  justify-content: center;

  @media (max-width: $desktop-breakpoint) {
    margin-bottom: 15%;
  }
}

// Content Blocks
.contentBlock {
  @media (max-width: $desktop-breakpoint) {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  @media (min-width: $desktop-breakpoint) {
    padding-left: 15%;
    padding-right: 15%;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.peopleContentBlock {
  &.text {
    padding-bottom: 7.5%;
    text-align: center;
  }

  &.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5%;
  }
}

// People Content Block Text
#peopleContentBlockText {
  h2 {
    color: $primary-color;
    font-family: $font-serif;
    @include client-responsive-header(4.5);
    text-align: center;
  }

  p {
    font-family: $font-sans;
    @include client-responsive-text(1.75);
    color: $text-color;
    text-align: center;
  }
}

// Person Blocks
.personBlock {
  @include responsive-block-width();
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 5%;
  justify-content: center;

  @media (max-width: $desktop-breakpoint) {
    width: 40%;
  }

  h3 {
    font-family: $font-serif;
    @include client-responsive-header(2.3);
    text-align: center;
    color: $accent-color;
    font-weight: bold;
  }

  img {
    width: 90%;
    margin-left: 5%;
    border-radius: 50%;
    border-color: $accent-color;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 5%;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

// Person Details
.personTitle {
  font-family: $font-sans;
  font-style: italic;
  @include client-responsive-text(1.5);
  text-align: center;
  color: $accent-color;
}

.personDescription {
  font-family: $font-sans;
  @include client-responsive-text(1.33);
  text-align: center;
  color: $text-color;
}
