// ==========================================================================
// Projects Page Styles
// ==========================================================================

@import 'variables';
@import 'mixins';

// General Styles
body {
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  font-family: $font-sans;
  @include client-responsive-text(1);
}

h1, h2 {
  font-family: $font-serif;
  color: $primary-color;
}

h3, h4, h5, h6 {
  font-family: $font-serif;
  color: $accent-color;
}

p, li {
  font-family: $font-sans;
  color: $text-color;
}

section {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  @media (max-width: $desktop-breakpoint) {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  @media (min-width: $desktop-breakpoint) {
    padding-left: 20%;
    padding-right: 20%;
  }
  @include flex-center(column);
}

.socialIconBlock {
  @media (max-width: $desktop-breakpoint) {
    padding-top: 1.5%;
    padding-right: 2.5%;
  }
  @media (min-width: $desktop-breakpoint) {
    padding-left: 2.5%;
  }

  .socialIcon {
    filter: invert(1);
    @include client-responsive-icon(0.75);
  }
}

// Projects Section
#projects {
  justify-content: center;

  a {
    font-family: $font-sans;
    color: $secondary-color;
    text-decoration: underline;
  }

  li {
    @include client-responsive-text(1);
  }

  .projectBlockHeader {
    h2 {
      @include client-responsive-header(3);
      text-align: center;
      color: $primary-color;
    }

    p {
      text-align: center;
    }
  }

  .projectBlock {
    padding-top: 2.5%;
    padding-bottom: 2.5%;

    h3 {
      text-align: center;
      @include client-responsive-header(2);
    }

    .projectBlockContent {
      padding-top: 1.5%;
      @include flex-center(row);
      align-items: center;

      .projectImg {
        @include client-responsive-icon(8);
        border-radius: 15%;
      }

      .projectBlockText {
        @media (max-width: $desktop-breakpoint) {
          margin-top: 2.5%;
        }
        @media (min-width: $desktop-breakpoint) {
          margin-left: 2.5%;
        }
      }
    }

    .headerBlock.social {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;

      .socialIconBlock {
        padding-left: 0%;
        padding-right: 2.5%;
      }

      .socialIcon {
        filter: none;
      }
    }
  }
}

// Footer Section
#footer {
  padding: 1% 5%;
  @include flex-center(row);
  background-color: $primary-color;

  p {
    color: $background-color;
    margin: 0;
  }
}
