// ==========================================================================
// Publications Page Styles
// ==========================================================================

@import 'variables';
@import 'mixins';

// General Styles
body {
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  font-family: $font-sans;
}

// Content Section
#content {
  .accented {
    color: $accent-color;
    font-weight: bolder;
  }

  .secondaryAccent {
    color: $primary-color;
  }

  .pubFooter {
    font-size: 1em;
    font-style: italic;
    text-align: right;
    color: $text-color;
  }

  a {
    color: $secondary-color;
    font-style: italic;
    text-decoration: underline;

    &:hover {
      color: $secondary-color;
      font-style: normal;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

// Content Blocks
.contentBlock {
  @media (max-width: $desktop-breakpoint) {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  @media (min-width: $desktop-breakpoint) {
    padding-left: 24%;
    padding-right: 25%;
  }
  flex-grow: 1;
}

.pubListBlock {
  align-self: center;
  padding-bottom: 10%;
  margin-bottom: 0;

  h2 {
    font-family: $font-serif;
    color: $primary-color;
    @include client-responsive-header(3);
    text-align: center;
  }

  ul {
    li {
      font-family: $font-sans;
      color: $text-color;
      @include client-responsive-text(1);
      margin-bottom: 1.5%;
    }
  }
}
